.side-bar
  .header
    .header__name
      seo
    .header__icon
      = link_to "#" do
        = icon('fas', 'cog')
      = link_to "#" do
        = icon('fas','edit')
    
  .contents
    .contents__group-name
      SAMPLE
    .contents__title
      Hi



